/* Looks damn good @ 500x802...just saying*/
html {
    font-family: "open sans";
}

* {
    box-sizing: border-box;
    padding: 1.5px 0px 5px 3px;
}

body {
    background-color:  #f9fafc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
/* Remember to ask about test 8 as it looks wrong*/

nav {
    display: flex;
    justify-content: space-between;
}
#logo  {
    width: 70px;
    height: 70px;
}



.links {
    width: 350px;
    justify-content: flex-end;
    padding-right: 25px;
}



ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 1.0px 10px 5px 3px;
}

li {
    padding: 0px 15px;
}

.work {
    width: 100px;
}

a {
    text-decoration: none;
    display: flex;
    color: #69696a;
    padding: 0px 15px;
}

.button {
    background-color: #000;
    color: #fff;
    border-radius: 20px; 
    width: 100%;
    height: 35px;
} 
a:hover {
    color: #000;
}

.button2 {    background-color: #000;
    color: #fff;
    padding-right: 15px;
    border-radius: 20px; 
    width: 100%;
    height: 35px;
} 
/* Wondering if I should make 2 sections??*/
section {
    display: inline-block;
    padding-right: 5em;
    padding-left: 1.5em;
}

.bigCircle {
display: none;
}

.middleCircle {
    display: none;
}

.smallCircle {
    display: none;
}

h4 {
    font-size: 25px;
    font-weight:bold;
    color: #000;
    
}
p {
    border-left:3px solid #69696a;
    color: #69696a;
}

@media (min-width:768px) {


    ul {
        list-style-type: none;
        flex-direction: row;
    }
    
    .links {
        width: 425px;
    }

    section {
        display: flex;
        height: 350px;
        padding: 15px;
        position:relative;
    }

    p {
        width: 50%;
        height: 165px;

    }

    .bigCircle {
        display:flex;
        height: 300px;
        width: 300px;
        background-color: rgba(247, 136, 167, 0.6);
        border-radius: 50%;
    }

    .middleCircle {
        display: flex;
        height: 200px;
        width: 200px;
        background-color: rgba(247, 193, 162, 0.7);
        border-radius: 50%;
    }

    .smallCircle {
        display: flex;
        height: 100px;
        width: 100px;
        background-color: rgba(207, 130, 213, 0.6);
        border-radius: 50%;
    }

    .button {
        width: 100px;
    } 

    .container {
        padding-right: 5px;
    }


    .bottomButton {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .button2 {    
        width: 100px;
    } 
}